#selType {
  width: 138px;
  height: 32px;
  line-height: 32px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f4f4f4;
  box-sizing: border-box;
  padding-left: 16px;
}

input, select, textarea {
  outline: none;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

span.required {
  margin-left: 2px;
  font-size: 12px;
  color: #CA0C16;
}
#selTop{
  width: 138px;
  height: 32px;
  line-height: 32px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f4f4f4;
  box-sizing: border-box;
  padding-left: 16px;
}
