<app-leftside></app-leftside>
<main class="r_box">
  <div class="gbook">
    <div *ngFor="let leavemessage of leavemessagelist">
      <div class="fb">
        <ul [style.backgroundImage]="'url('+ leavemessage.avatar +')'" style="background-repeat: no-repeat;background-position
:top 20px left 10px;">
          <!-- <img [src]="leavemessage.avatar" style="position:relative;left: -50px;">-->
          <p class="fbtime"><span> 2018-07-21 </span> {{leavemessage.username}}</p>
          <p class="fbinfo">{{leavemessage.content}}</p>
        </ul>
      </div>
      <div class="hf" [style.display]="leavemessage.reply==null ? 'none' : 'block'">
        <ul>
          <p class="zzhf"><font color="#FF0000">站长回复:</font>{{leavemessage.reply}}</p>
        </ul>
      </div>
    </div>
    <div class="gbox">
      <form>
        <p><strong>来说点儿什么吧...</strong></p>
        <p><span> 您的姓名:</span>
          <input name="name" type="text" id="name" [value]="username" (input)="doOnInput($event)">
          *</p>
        <p><span>选择头像:</span> *</p>
        <p id="Avatar">
          <i>
          <img id="a" src="../../../../../assets/images/tx1.jpg" (click)="myFun('a')"
               style="opacity: 1;cursor: pointer;"></i> <i>
          <img id="b" src="../../../../../assets/images/tx2.jpg" (click)="myFun('b')"
               style="opacity: 0.5;cursor: pointer;"></i> <i>
          <img id="c" src="../../../../../assets/images/tx3.jpg" (click)="myFun('c')"
               style="opacity: 0.5;cursor: pointer;"></i> <i>
          <img id="d" src="../../../../../assets/images/tx4.jpg " (click)="myFun('d')"
               style="opacity: 0.5;cursor: pointer;"></i>
          <i>
            <img id="e" src="../../../../../assets/images/tx5.jpg" (click)="myFun('e')"
                 style="opacity: 0.5;cursor: pointer;"></i>
          <i>
            <img id="f" src="../../../../../assets/images/tx6.jpg" (click)="myFun('f')"
                 style="opacity: 0.5;cursor: pointer;"></i>
          <i>
            <img id="g" src="../../../../../assets/images/tx7.jpg" (click)="myFun('g')"
                 style="opacity: 0.5;cursor: pointer;"></i>
          <i>
            <img id="h" src="../../../../../assets/images/tx8.jpg" (click)="myFun('h')"
                 style="opacity: 0.5;cursor: pointer;"></i>
        </p>
        <p><span class="tnr">留言内容:</span>
          <textarea name="lytext" cols="60" rows="12" id="lytext" [value]="content"
                    (input)="doOnInputContent($event)"></textarea>
        </p>
        <p>
          <input type="submit" name="Submit3" value="提交" (click)="onsubmit()">
        </p>
      </form>
    </div>
  </div>
</main>

