@charset "gb2312";


/*about*/
.about {
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
}

.about img {
  max-width: 500px;
  margin: 20px 0;
  width: 100%
}

.cloud ul a {
  line-height: 24px;
  height: 24px;
  display: block;
  background: #999;
  float: left;
  padding: 3px 11px;
  margin: 10px 10px 0 0;
  border-radius: 8px;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #FFF
}

.cloud ul a:nth-child(8n-7) {
  background: #8A9B0F
}

.cloud ul a:nth-child(8n-6) {
  background: #EB6841
}

.cloud ul a:nth-child(8n-5) {
  background: #3FB8AF
}

.cloud ul a:nth-child(8n-4) {
  background: #FE4365
}

.cloud ul a:nth-child(8n-3) {
  background: #FC9D9A
}

.cloud ul a:nth-child(8n-2) {
  background: #EDC951
}

.cloud ul a:nth-child(8n-1) {
  background: #C8C8A9
}

.cloud ul a:nth-child(8n) {
  background: #83AF9B
}

.cloud ul a:first-child {
  background: #036564
}

.cloud ul a:last-child {
  background: #3299BB
}

.cloud ul a:hover {
  border-radius: 0;
  text-shadow: #000 1px 1px 1px
}


.tags a {
  background: #F4650E;
  padding: 3px 8px;
  margin: 0 5px 0 0;
  color: #fff;
}

.tags {
  margin: 10px 0;
}

.infosbox img {
  max-width: 100%;
  height: auto;
  width: 100%
}

.share {
  padding: 20px;
}

.nextinfo {
  line-height: 24px;
  width: 100%;
  overflow: hidden;
  margin: 20px 0
}

/*上一篇下一篇*/
.nextinfo p {
  padding: 4px 10px;
  border-radius: 5px;
}

.nextinfo a:hover {
  color: #000;
  text-decoration: underline
}

/*文章评论*/
.news_pl {
  margin: 10px 0 20px 0;
  width: 100%;
  overflow: hidden;
}

.news_pl h2 {
  border-bottom: #000 2px solid;
  line-height: 40px;
  font-size: 14px;
  padding-left: 10px;
  color: #000
}

.diggit {
  width: 160px;
  margin: auto;
  background: #E2523A;
  color: #fff;
  box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, .2);
  border-radius: 3px;
  line-height: 40px;
  text-align: center;
}

.diggit a {
  color: #fff;
}

#diggnum {
  margin: 5px;
}

