<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <img alt="image" class="rounded-circle" src="../../../../assets/images/1.jpg" style="width: 48px;height: 48px;" />
          <a data-toggle="dropdown" class="dropdown-toggle" href="/manage/home">
            <span class="block m-t-xs font-bold">Eternallyc</span>
            <span class="text-muted text-xs block">管理员 </span>
          </a>
        </div>
      </li>
      <li class="active">
        <a href="/manage/home"><i class="fa fa-bar-chart"></i>
          <span class="nav-label">数据展示</span>
        </a>
      </li>
      <li>
        <a href="/manage/blogmanage"><i class="fa fa-file"></i>
          <span class="nav-label">博客管理</span>
        </a>
      </li>
      <li>
        <a href="/manage/classification"><i class="fa fa-bars"></i>
          <span class="nav-label">分类管理</span>
        </a>
      </li>
      <li>
        <a href="/manage/blogmanage"><i class="fa fa-comment"></i>
          <span class="nav-label">博客评论管理</span>
        </a>
      </li>
      <li>
        <a href="/manage/albummanage"><i class="fa fa-picture-o"></i>
          <span class="nav-label">相册管理</span>
        </a>
      </li>
      <li>
        <a href="/manage/albumcomment"><i class="fa fa-comment-o"></i>
          <span class="nav-label">相册评论管理</span>
        </a>
      </li>
      <li>
        <a href="/manage/leavemessage"><i class="fa fa-commenting"></i>
          <span class="nav-label">留言管理</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
