<div class="picbox">
  <ul>
    <li data-scroll-reveal="enter bottom over 1s" ><a href="/"><i><img src="../../../../../assets/images/1.jpg"></i>
      <div class="picinfo">
        <h3>个人博客模板《simple》</h3>
        <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
    </a></li>
    <li data-scroll-reveal="enter bottom over 1s" ><a href="/"><i><img src="../../../../../assets/images/2.jpg"></i>
      <div class="picinfo">
        <h3>个人博客模板《simple》</h3>
        <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
    </a></li>
  </ul>
  <ul>
    <li data-scroll-reveal="enter bottom over 1s" ><a href="/"><i><img src="../../../../../assets/images/3.jpg"></i>
      <div class="picinfo">
        <h3>个人博客模板《simple》</h3>
        <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
    </a></li>
    <li data-scroll-reveal="enter bottom over 1s" ><a href="/"><i><img src="../../../../../assets/images/5.jpg"></i>
      <div class="picinfo">
        <h3>个人博客模板《simple》</h3>
        <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
    </a></li>
  </ul>
  <ul>
    <li data-scroll-reveal="enter bottom over 1s" ><a href="/"><i><img src="../../../../../assets/images/7.jpg"></i>
      <div class="picinfo">
        <h3>个人博客模板《simple》</h3>
        <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
    </a></li>
    <li data-scroll-reveal="enter bottom over 1s" ><a href="/"><i><img src="../../../../../assets/images/8.jpg"></i>
      <div class="picinfo">
        <h3>个人博客模板《simple》</h3>
        <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
    </a></li>
  </ul>
  <ul>
    <li data-scroll-reveal="enter bottom over 1s" ><a href="/"><i><img src="../../../../../assets/images/4.jpg"></i>
      <div class="picinfo">
        <h3>个人博客模板《simple》</h3>
        <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
    </a></li>
    <li data-scroll-reveal="enter bottom over 1s" ><a href="/"><i><img src="../../../../../assets/images/6.jpg"></i>
      <div class="picinfo">
        <h3>个人博客模板《simple》</h3>
        <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
    </a></li>
  </ul>
</div>
<div class="pagelist"><a class="allpage"><b>99</b></a>&nbsp;&nbsp;<a href="#" class="curPage">1</a>&nbsp;&nbsp;<a href="#" onclick="page(2)">2</a>&nbsp;&nbsp;<a href="#" onclick="page(3)">3</a>&nbsp;&nbsp;<a href="#" onclick="page(4)">4</a>&nbsp;&nbsp;<a href="#" onclick="page(5)">5</a>&nbsp;&nbsp;<a href="#" onclick="page(6)">6</a>&nbsp;&nbsp;<a href="#" onclick="page(7)">7</a>&nbsp;&nbsp;<a href="#" onclick="page(8)">8</a>&nbsp;&nbsp;<a href="#" onclick="page(9)">9</a>&nbsp;&nbsp;<a href="#" onclick="page(2)">下一页</a></div>
