.picbox {
  width: 100%;
  overflow: hidden;
}

.picbox ul {
  overflow: hidden;
  width: 24%;
  float: left;
  margin-right: 10px
}

.picbox ul li {
  display: block;
  background: #FFF;
  margin: 0 0 20px 0;
  border: 1px #d9d9d9 solid;
}

.picbox ul li i {
  margin: 10px;
  height: auto;
  overflow: hidden;
  display: block;
}

.picbox ul li img {
  width: 100%;
}

.picinfo h3 {
  border-bottom: #ccc 1px solid;
  padding: 10px 0;
  margin: 0 20px;
  font-size: 16px
}

.picinfo span {
  padding: 10px 20px;
  display: block;
  color: #666;
}

.picbox ul li a:hover {
  color: #19585d
}
.pagelist {
  text-align: center;
  color: #666;
  width: 100%;
  clear: both;
  margin: 20px 0;
  padding-top: 20px
}

.pagelist a {
  color: #666;
  margin: 0 2px 5px 2px;
  display: inline-block;
  border: 1px solid #fff;
  padding: 5px 10px;
  background: #FFF
}

.pagelist a:hover {
  color: #19585d;
}

.pagelist > b {
  border: 1px solid #000;
  padding: 5px 10px;
}

a.curPage {
  color: #19585d;
  font-weight: bold;
}
