<app-leftside></app-leftside>
<main>
  <div class="infosbox">
    <div class="newsview">
      <h3 class="news_title">{{currentblog.article_title}}</h3>
      <div class="bloginfo">
        <ul>
          <li class="lmname">所属分类：<a style="cursor: pointer;color:red;"
                                     [routerLink]="['../../classification',currentblog.classification.classification_id]">{{currentblog.classification.name}}</a>
          </li>
          <li class="timer">时间：{{currentblog.article_time}}</li>
          <li class="view">{{currentblog.read_number}}人已阅读</li>
        </ul>
      </div>
      <hr>
      <br>
      <div [innerHTML]="currentblog.article_content"></div>
    </div>
    <div class="share">
      <p class="diggit" style="cursor: pointer;" (click)="pointlike()"><a> 很赞哦！ </a>(<b id="diggnum">
        <script type="text/javascript"></script>
        {{currentblog.like_number}}</b>)
      </p>
    </div>
    <div class="news_pl">
      <h2>文章评论</h2>
      <div class="gbko">
        <div class="fb" *ngFor="let comment of commentlist">
          <ul [style.backgroundImage]="'url('+ comment.comment_avatar +')'" style="background-repeat: no-repeat;background-position
:top 20px left 10px;">
            <p class="fbtime"><span>{{comment.comment_time}}</span> {{comment.comment_username}}</p>
            <p class="fbinfo">{{comment.comment_content}}</p>
            <div class="ecomment" [style.display]="comment.reply==null||comment.reply==='' ? 'none' : 'block'"><span
              class="ecommentauthor">站长回复：</span>
              <p class="ecommenttext">{{comment.reply}}</p>
            </div>
          </ul>
        </div>
        <form name="saypl" id="saypl">
          <div id="plpost">
            <p class="saying"><span><a href="/e/pl/?classid=77&amp;id=106">共有{{commentlist.length}}条评论</a></span>来说两句吧...
            </p>
            <p class="yname"><span>用户名:</span>
              <input name="username" type="text" class="inputText" id="username" [value]="username" size="16"
                     (input)="doOnInput($event)">
            </p>
            <p><span>选择头像:</span> *</p>
            <p id="Avatar">
              <i>
                <img id="a" src="../../../../../../assets/images/tx1.jpg" (click)="myFun('a')"
                     style="opacity: 1;cursor: pointer;"></i>
              <i>
                <img id="b" src="../../../../../../assets/images/tx2.jpg" (click)="myFun('b')"
                     style="opacity: 0.5;cursor: pointer;"></i>
              <i>
                <img id="c" src="../../../../../../assets/images/tx3.jpg" (click)="myFun('c')"
                     style="opacity: 0.5;cursor: pointer;"></i> <i>
              <img id="d" src="../../../../../../assets/images/tx4.jpg " (click)="myFun('d')"
                   style="opacity: 0.5;cursor: pointer;"></i>
              <i>
                <img id="e" src="../../../../../../assets/images/tx5.jpg" (click)="myFun('e')"
                     style="opacity: 0.5;cursor: pointer;"></i>
              <i>
                <img id="f" src="../../../../../../assets/images/tx6.jpg" (click)="myFun('f')"
                     style="opacity: 0.5;cursor: pointer;"></i>
              <i>
                <img id="g" src="../../../../../../assets/images/tx7.jpg" (click)="myFun('g')"
                     style="opacity: 0.5;cursor: pointer;"></i>
              <i>
                <img id="h" src="../../../../../../assets/images/tx8.jpg" (click)="myFun('h')"
                     style="opacity: 0.5;cursor: pointer;"></i>
            </p>
            <br> <br> <br>
            <p><span class="tnr">留言内容:</span>
              <textarea name="saytext" rows="6" id="saytext" [value]="content"
                        (input)="doOnInputContent($event)"></textarea>
            </p><input name="imageField" type="submit" value="提交" (click)="onsubmit()" style="cursor: pointer;">
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
