
p.fbtime {
  color: #000;
}

.fbtime span {
  float: right;
  color: #999;
  font-size: 12px;
  width: 70px;
  overflow: hidden;
  white-space: nowrap;
}

p.fbinfo {
  margin: 10px 0;
}

.fb ul {
  margin: 10px 10px;
  padding: 10px 10px 10px 70px;
  border-bottom: #ececec 1px solid;
}

.fb:nth-child(8n-7) ul {
  background: url(../../../assets/images/tx10.jpg) no-repeat top 20px left 10px;
}

.fb:nth-child(8n-6) ul {
  background: url(../../../assets/images/tx9.jpg) no-repeat top 20px left 10px;
}

.fb:nth-child(8n-5) ul {
  background: url(../../../assets/images/tx8.jpg) no-repeat top 20px left 10px;
}

.fb:nth-child(8n-4) ul {
  background: url(../../../assets/images/tx7.jpg) no-repeat top 20px left 10px;
}

.fb:nth-child(8n-3) ul {
  background: url(../../../assets/images/tx6.jpg) no-repeat top 20px left 10px;
}

.fb:nth-child(8n-2) ul {
  background: url(../../../assets/images/tx5.jpg) no-repeat top 20px left 10px;
}

.fb:nth-child(8n-1) ul {
  background: url(../../../assets/images/tx4.jpg) no-repeat top 20px left 10px;
}

.fb:nth-child(8n) ul {
  background: url(../../../assets/images/tx3.jpg) no-repeat top 20px left 10px;
}

.fb:first-child ul {
  background: url(../../../assets/images/tx2.jpg) no-repeat top 20px left 10px;
}

.fb:last-child ul {
  background: url(../../../assets/images/tx1.jpg) no-repeat top 20px left 10px;
}

