<div class="loginColumns animated fadeInDown">
  <div class="row">

    <div class="col-md-6">
      <h2 class="font-bold">欢迎登录个人博客系统</h2>

      <p>土地是以它的肥沃和收获而被估价的；才能也是土地，不过它生产的不是粮食，而是真理。如果只能滋生瞑想和幻想的话，即使再大的才能也只是砂地或盐池，那上面连小草也长不出来的。
      </p>
      <p>—— 别林斯基</p>

    </div>
    <div class="col-md-6">
      <div class="ibox-content">
        <form class="m-t" role="form">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="用户名" required="" [value]="name" (input)="doOnInputName($event)">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="密码" required="" [value]="passwd" (input)="doOnInputPasswd($event)">
          </div>
          <button type="submit" class="btn btn-primary block full-width m-b" (click)="submit()">登录</button>
        </form>
        <p class="m-t">
        </p>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-6">
      <small>Eternallyc个人博客 &copy; 2018-2019</small>
    </div>
    <div class="col-md-6 text-right">
      https://blog.csdn.net/qq_38712932
    </div>
  </div>
</div>

