<app-bloglistleft></app-bloglistleft>
<main class="r_box">
  <div class="filter-box d-flex align-items-center">
    <div class="breadcrumbs-box">
      <a [routerLink]="['../../blog/index']">全部文章</a><span class="ml8 mr8">&gt;</span>              关于<span style="color:red;">{{keyword}}</span>文章，共搜索到<span style="color:red;">{{searchblogs.length}}</span>条结果                </div>
  </div>
  <li *ngFor="let blog of searchblogs"><i><a [routerLink]="['../blogconent',blog.article_id]"><img src="../../../../../../assets/images/1.jpg"></a></i>
    <h3><a [routerLink]="['../blogconent',blog.article_id]" [innerHTML]="blog.article_title | keyword:keyword"></a></h3>
    <p [innerHTML]="blog.article_content | keyword:keyword"></p>
    <div class="info-box d-flex align-content-center">
      <p>
        <span class="date" [innerHTML]="blog.article_time | keyword:keyword"></span>
      </p>
      <p>
        <span class="read-num">阅读数：{{blog.read_number}}</span>
      </p>
      <p>
        <span class="read-num">评论数：{{blog.comment_number}}</span>
      </p>
    </div>
  </li>
  <!--<div id="nodata" style="width: 820px; height: 240px; background: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 4px 0px;">
    <img style="width: 167px;height: 86px;margin: 77px 294px 77px 359px;" src="/so/images/symbols.png" alt="" class="img1">
  </div>-->
  <!--<div class="pagelist"><a class="allpage"><b>99</b></a>&nbsp;&nbsp;<a href="#" class="curPage">1</a>&nbsp;&nbsp;<a href="#" onclick="page(2)">2</a>&nbsp;&nbsp;<a href="#" onclick="page(3)">3</a>&nbsp;&nbsp;<a href="#" onclick="page(4)">4</a>&nbsp;&nbsp;<a href="#" onclick="page(5)">5</a>&nbsp;&nbsp;<a href="#" onclick="page(6)">6</a>&nbsp;&nbsp;<a href="#" onclick="page(7)">7</a>&nbsp;&nbsp;<a href="#" onclick="page(8)">8</a>&nbsp;&nbsp;<a href="#" onclick="page(9)">9</a>&nbsp;&nbsp;<a href="#" onclick="page(2)">下一页</a></div>-->
</main>
