<header class="header-navigation slideDown" id="header">
  <nav><div class="logo">
    <a href="/">Eternallyc个人博客</a>
  </div>
    <ul id="starlist">
      <li><a [routerLink]="['/blog/index']" title="/blog/index" id="selected" (click)="change(1)">博客首页</a></li>
      <li><a [routerLink]="['/blog/album']" title="/blog/album" (click)="change(2)">我的相册</a></li>
      <li><a [routerLink]="['/blog/aboutme']" title="/blog/aboutme" (click)="change(3)">关于我</a></li>
      <li><a [routerLink]="['/blog/leavemessage']" title="/blog/leavemessage" (click)="change(4)">留言</a></li>
      <li><a [routerLink]="['/login']" title="/login" (click)="change(5)">登录</a></li>
    </ul>
  </nav>
</header>
