<aside class="l_box">
  <div class="search">
    <form name="searchform" id="searchform">
      <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text" value="{{keyword}}" (input)="doOnInput($event)">
      <input name="Submit" class="input_submit" value="搜索" type="submit" (click)="search()" style="cursor: pointer;">
    </form>
  </div>
  <div class="fenlei">
    <h2>文章分类</h2>
    <ul >
      <li *ngFor="let classification of classificationlist"><a [routerLink]="['../../classification',classification.classification_id]" (click)="change()">
        <span class="title_online">{{classification.name}}</span>
        <span class="count_right">{{classification.num}}篇</span>
      </a></li>
    </ul>
  </div>
  <div class="tuijian">
  <h2>点击排行</h2>
  <ul>
    <li *ngFor="let article of clickrank"><a [routerLink]="['../../blogconent',article.article_id]">{{article.article_title}}</a></li>
  </ul>
    <div class="tuijian">
      <h2>推荐博客</h2>
      <ul>
        <li *ngFor="let article of recommendlist"><a [routerLink]="['../../blogconent',article.article_id]">{{article.article_title}}</a></li>
      </ul>
    </div>
    <div class="links">
      <h2>友情链接</h2>
      <ul>
        <a href="https://blog.csdn.net/qq_38712932">Eternallyc个人博客</a> <a href="https://blog.csdn.net/qq_38712932">Eternallyc个人博客</a>
      </ul>
    </div>
</div>

</aside>
