<aside class="l_box">
  <div class="about_me">
    <h2>关于我</h2>
    <ul>
      <i><img [src]="avatar"></i>
      <p><b>{{name}}</b>，{{introduction}}</p>
    </ul>
  </div>
  <div class="wdxc">
    <h2>我的相册</h2>
    <ul>
      <li *ngFor="let album of albumList">
        <a [routerLink]='["/blog/album",album.photoalbum_id]'><img [src]="album.picture.picture_url"></a>
      </li>
    </ul>
  </div>
  <div class="search">
    <form name="searchform" id="searchform">
      <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);"
             onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}"
             onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text" (input)="doOnInput($event)">
      <input name="Submit" class="input_submit" type="submit" (click)="search()" style="cursor: pointer;" >
    </form>
  </div>
  <div class="fenlei">
    <h2>文章分类</h2>
    <ul >
      <li *ngFor="let classification of classificationlist" ><a [routerLink]="['/blog/classification',classification.classification_id]">
        <span class="title_online">{{classification.name}}</span>
        <span class="count_right">{{classification.num}}篇</span>
      </a></li>
    </ul>
  </div>
  <div class="tuijian">
    <h2>推荐博客</h2>
    <ul>
      <li *ngFor="let blog of recommendlist"><a [routerLink]='["/blog/blogconent",blog.article_id]'>{{blog.article_title}}</a></li>
    </ul>
  </div>
  <div class="tuijian">
    <h2>背景音乐</h2>
    <ul>
      <audio src="https://backage.oss-cn-shenzhen.aliyuncs.com/blog/music/majiko%20%28%E3%81%BE%E3%81%98%E5%A8%98%29%20-%20%E5%90%9B%E3%81%AB%E6%9C%80%E5%BE%8C%E3%81%AE%E5%8F%A3%E3%81%A5%E3%81%91%E3%82%92%20%28%E6%9C%80%E5%90%8E%E4%B8%80%E6%AC%A1%E4%BA%B2%E5%90%BB%E4%BD%A0%29.mp3" controls="controls" style="width: 280px;">
      </audio>
    </ul>
  </div>

  <div class="links">
    <h2>友情链接</h2>
    <ul >
      <a style="align-content: center; position:relative;left:25%; " href="https://blog.csdn.net/qq_38712932">Eternallyc个人博客</a>
    </ul>
  </div>

</aside>
