<aside class="l_box">
  <div class="about_me">
    <h2>关于我</h2>
    <ul>
      <i><img src="../../../../../assets/images/timg.gif"></i>
      <p><b>Eternallyc</b>，一个95后的小伙子！2016年正式进入吉首大学学习IT技术。现在正值大三，在这个两年的学习中，不断学习前端和后端知识，努力向人工智能靠近。。</p>
    </ul>
  </div>
  <div class="wdxc">
    <h2>我的相册</h2>
    <ul>
      <li *ngFor="let album of albumList">
        <a [routerLink]='["../album",album.photoalbum_id]'><img [src]="album.picture.picture_url"></a>
      </li>
    </ul>
  </div>
  <div class="search">
    <form name="searchform" id="searchform">
      <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);"
             onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}"
             onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text" (input)="doOnInput($event)">
      <input name="Submit" class="input_submit" type="submit" (click)="search()" style="cursor: pointer;" >
    </form>
  </div>
  <div class="fenlei">
    <h2>文章分类</h2>
    <ul >
      <li *ngFor="let classification of classificationlist" ><a [routerLink]="['../classification',classification.classification_id]">
        <span class="title_online">{{classification.name}}</span>
        <span class="count_right">{{classification.num}}篇</span>
      </a></li>
    </ul>
  </div>
  <div class="tuijian">
    <h2>推荐博客</h2>
    <ul>
      <li *ngFor="let blog of recommendlist"><a [routerLink]='["../blogconent",blog.article_id]'>{{blog.article_title}}</a></li>
    </ul>
  </div>
  <div class="tuijian">
    <h2>背景音乐</h2>
    <ul>
      <audio src="../../../../../assets/majiko%20(まじ娘)%20-%20君に最後の口づけを%20(最后一次亲吻你).mp3" controls="controls" style="width: 280px;">
      </audio>
    </ul>
  </div>
  <div class="links">
    <h2>友情链接</h2>
    <ul>
      <a href="https://blog.csdn.net/qq_38712932">Eternallyc个人博客</a> <a href="https://blog.csdn.net/qq_38712932">Eternallyc个人博客</a>
    </ul>
  </div>
</aside>
